#login_all  { background:url("/img/images/sub_img_01.jpg") no-repeat 0 0;  width:733px; height:327px; margin:60px auto;}
#login_ta_all {width:500px; margin:110px 0 0 200px; float:left;}
.login_ta_01 {width:280px; margin:0 0 0 0px; float:left;}
.login_ta_02 {width:280px; margin:10px 0 0 0px; float:left;}
.login_ta_bt {width:118px; margin:-45px 0 0 -20px; float:left;}


#login_ta_all_02 {width:550px; margin:25px 0 0 90px; float:left;}
.login_ta_01_01 {width:198px; margin:0 0 0 20px; float:left;}
.login_ta_02_01 {width:129px; margin:0 0 0 30px; float:left;}
.login_ta_bt_01 {width:141px; margin:0 0 0 0px; float:right;}
